<?php 
  
  $_CONFIG['db']['driver'] = 'pgsql';
  $_CONFIG['db']['host'] = '<%= @host%>';
  $_CONFIG['db']['port'] = '5432';
  $_CONFIG['db']['database'] = '<%= @db%>';
  $_CONFIG['db']['user'] = '<%= @user%>';
  $_CONFIG['db']['password'] = '<%= @password%>';

  $_CONFIG['email']['mandrill_test_key'] = '';
  $_CONFIG['email']['mandrill_key'] = '';

?>
